body{
    font-family: 'hero';
    margin: 0px;
    padding: 0px;
    height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1 1 auto;
    color: black;
    align-items: center;
    background-color: #1f2937 ;

    
}
.sec1{
    /* margin-left: ; */
    /* margin-right: auto; */
    padding-left: auto;
    padding-right: auto;
    max-width: 80%;
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
.sec11{

}
.header,.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.header{
}
.top{
    justify-content: center;
}
.img{
    width: 100%;
    flex-basis: auto;
    
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: blueviolet;
}