body{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: space-between;
}
body .upper{
    padding: 0px 10%;
}
p{
    margin: 0px;
}

#header,#sec1{
    display: flex;
    justify-content: space-between;
    /* color: white; */
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
    align-items: center;
}
#logo{
    font-size: 24px;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
}
a{
    color: #e5e7eb;
    text-decoration: none;
}

#sec1{
    padding-top: 5%;
    padding-bottom: 5%;
}
#sec1 div{
    max-width: 50%;
    margin: 0px;
    padding-bottom: 0px;
    flex-grow: 1;
}
#sec1 div h1{
    /* max-width: 50%; */
    color: #f9faf8;
    font-size: 48px;
    margin: 0px;
    padding-bottom: 8px;
}
.right-sec{
    background-color: #566477;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    text-align: center;

}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 1% 5%;
    font-size: 18px;
    margin-top: 8px;

}
button:hover{
    background-color: white;
    color: #3882f6;
}
#sec2,#sec3{
    text-align: center;
    padding: 2% 20%;
    padding-bottom: 5%;
}
.box{
    box-sizing:content-box;
    /* border: 5px; */;
    max-width: 15%;
    /* min-height; */
    padding: 25%;
    /* border-color: #3882f6; */
    border-radius: 10px;
    margin: auto;
    border: 2px solid blue ;
}
.box-container p{
    max-width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    color: #1f2937;
    font-weight: lighter;
    font-size: small;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
#boxes{
    justify-content: center;
    padding: 0px;   
    padding-top: 2%;
}
#sec3{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    text-align: start;
    font-weight: lighter;
    padding-top: 6%;
    padding-bottom: 6%;
}
.author{
    text-align: end;
    font-weight: lighter;
}